/* Font imports and root variables */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,600,800');

* {
  box-sizing: border-box;
  margin: 0;
  /* border: solid 0.5px red; */
}

:root {
  --ff: 'Fira Sans', sans-serif;
  --fw-n: 300;
  --fw-m: 600;
  --fw-b: 800;
  --fs-1: 6.5rem;
  --fs-2: 5rem;
  --fs-3: 3.5rem;
  --fs-4: 2rem;
  --fs-5: 1.5rem;
  --fs-6: 1.2rem;
  --fs-p: 1rem;
  --fs-s: 0.8rem;
  --primary-clr: #115e59;
  --secondary-clr: #34d399;
  --secondary-clr-light: #a7f3d0;
  --accent-clr: #fb7185;
  --accent-clr-dark:#f43f5e;
  --opaque-background: rgba(123, 107, 107, 0.25);
}

body {
  font-family: var(--ff);
}

ul {
  list-style: none;
  padding: 0;
  line-height: 4rem;
  font-weight: var(--fw-m);
  font-size: var(--fs-6);
  margin-left: 1rem;
}

ul:hover {
  cursor: pointer;
}

#container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
}

#sidebar {
  background-color: var(--primary-clr);
  color: white;
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: 1fr 3fr 6fr;
  grid-row: span 2;
}

#sidebar img {
  filter: brightness(0) invert(1);
  height: 2.5rem;
  margin-right: 0.5rem;
  margin-left: 1rem;
  align-self: center;
}

#sidebar ul li {
  display: flex;
}

.logo {
  display: flex;
}

#sidebar .logo img {
  height: 6rem;
  margin-left: rem;
}

#sidebar-header {
  align-self: center;
  font-size: var(--fs-4);
  margin-left: 1rem;
  min-width: 12rem;
}

.main-links {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#header {
  grid-row: span 1;
  grid-column: span 1;
}

#main-content {
  background-color: var(--opaque-background);
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

#projects {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.section-header {
  grid-column: 1 / -1;
  justify-self: left;
  margin-left: 0.5rem;
  font-size: var(--fs-5);
  margin-top: 1rem;
}

.project-items {
  background-color: var(--accent-clr-dark);
  color: white;
  min-height: 100px;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  border: 4px solid var(--primary-clr);
}

.project-items p {
  font-weight: var(--fw-n);
  font-size: var(--fs-p);
}

.project-items .title {
  font-size: var(--fs-p);
  text-align: left;
  font-weight: var(--fw-m);
}

button {
  font-family: var(--ff);
  background-color: var(--accent-clr);
  color: white;
  font-size: var(--fs-p);
  border-radius: 1rem;
  border: 4px solid var(--primary-clr);
}

#right-content {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
}

.announcement-items {
  background-color: var(--accent-clr);
  color: white;
  border: 4px solid var(--primary-clr);
  min-height: 100px;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
}

.announcement-items .title,
.announcement-items p {
  font-size: var(--fs-p);
  text-align: left;
  font-weight: var(--fw-n);
}

.trending-items {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  background-color: var(--primary-clr);
  color: white;
  border: 4px solid var(--accent-clr);
}

.trending-items p {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.trending-items .title {
  font-weight: var(--fw-m);
}

.trending-items img {
  height: 3rem;
  filter: brightness(0) invert(1);
  margin: 0.5rem;
}